# Secrets
.env

# Project Exports
my-llm-project-output.md
my-llm-project-output.txt
output/
data/
logs/
docs/


# Editor/System junk
.vscode/
.DS_Store

# Python
__pycache__/
*.py[oc]

# uv environment
.venv/

#sometimes i generate the diff
*.diff
CLAUDE.md


#frontend stuff
frontend/node_modules/
frontend/dist/
frontend/.vite/
